@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fdfaf2;
  color: #0f0f0f;
  font-family: 'Spline Sans', sans-serif;
}

@layer utilities {
  .trans {
    transition: all 0.3s linear;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
